body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 3px dashed sandybrown;
  background-image: linear-gradient(to right, red, blue);
}
