body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 250px;
  height: 200px;
  font-size: 150px;
  border: 1px dashed aqua;
  text-align: center;
  line-height: 200px;
  user-select: none;
}
